.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 247px;
    margin-top: -100px;
    transition: all 0.4s;
}

body {
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.fimcontrato {
    background-image: url(images/exclamacao.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 100px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer button {
    margin-right: 25px;
}

.linha {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}