.tela {
  padding: 0;
  height: auto;
}

.entradas {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.texto {
  color: white;
  font-family: monospace;
}

.esqueceu {
  margin-top: 5px;
  margin-bottom: 20px;
}

.whitetext {
  color: white;
}

#termos {
  color: white;
}

body {
  background-image: url(../images/background_dashboard.png);
}
