.tela {
    background-image: url("Imagens/background.svg");
}

.logo {
    position: absolute;
    top: 10%;
    left: 45%;
    align-items: center;
}

.entradas {
    position: absolute;
    top: 400px;
    left: 42%;
    height: 300px;
    width: 360px;
}

.texto {
    color: white;
    font-family: monospace;
}

.esqueceu {
    margin-top: 5px;
    margin-bottom: 20px;
}

