*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginbox {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.loginbox label {
  margin-right: 175px;
}

.form-control {
  width: 400px;
}

.img {
  width: 50px;
  height: 50px;
}

body {
  background-image: url(../images/background_dashboard.png);
  color: white;
}

main {
  width: 100%;
}

main,
input {
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  padding-left: 30px;
}

footer {
  position: absolute;
  bottom: 30px;
  padding-left: 30px;
  width: 100%;
}

button {
  width: 300px;
  color: #2148c0;
}

.btn.btn-light {
  color: #2148c0;
}
